# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Electron Webpack CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-electron-app-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1.4.2
      with:
        node-version: ${{ matrix.node-version }}
    - name: install dependencies
      run: |
       npm -v
       npm i -g yarn
       yarn -v
       yarn
    - name: generate tailwindcss style
      run: |
       yarn run tailwind
    - name: run prisma introspect
      run: |
       yarn run prisma:prepare
       touch prisma/schema.prisma
    - name: generate prisma client
      run: |
       yarn run prisma:generate
    - name: build dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        yarn dist
    - name: Upload dist directory
      env:
        DIST_PATH: "./dist/*.exe"
      uses: actions/upload-artifact@v2
      with:
        name: electron_webpack_app
        path: ${{ env.DIST_PATH }}
